:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "PingFang SC", "Microsoft YaHei", sans-serif;
  color-scheme: light;
  -webkit-user-select: text;
  user-select: text;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #f5f7fa;
  color: #1f2937;
}

.ant-table, .ant-table-container, .ant-table-wrapper,.ant-table-header, table, th {
  border-start-end-radius: 0!important;
  border-radius: 0!important;
}
